# Import Libraries

In [3]:
import json
import itertools
import pandas as pd
import numpy as np
import random

# Load the review and product datasets

In [5]:
reviews_df=pd.read_csv('product_reviews_for_review_analysis_test_final.csv')
reviews_df

,asin,overall,reviewText,Sentiment_label,trustworthy_score
0,60009810,5,This was the first time I read Garcia-Aguilera...,positive,98.0
1,60009810,5,"As with all of Ms. Garcia-Aguilera's books, I ...",positive,94.0
2,60009810,5,I've not read any of Ms Aguilera's works befor...,positive,63.0
3,60009810,4,This romance novel is right up there with the ...,positive,99.0
4,60009810,5,Carolina Garcia Aguilera has done it again. S...,positive,75.0
...,...,...,...,...,...
999995,B000BTYEHA,5,Love my Tiffin filters. Would recommend to any...,positive,90.0
999996,B000BTYEHA,4,have not used it but i will,positive,50.0
999997,B000BTYEHA,5,Really a quality ND filter. I'd recommend purc...,negative,73.0
999998,B000BTYEHA,4,I would have given it a 3.5 star if it was pos...,positive,74.0
999999,B000BTYEHA,5,"Great price, works just as described.",positive,81.0

### FIltering dataset based on following if conditions

In [ ]:
df = pd.DataFrame()
if((reviews_df['Sentiment_label'] == 'positive') and (review_df['trustworthy_score'] >= 55) or (review_df['trustworthy_score'] <= 100)):
    pd.concat([])

In [6]:
filtered_df =reviews_df[(reviews_df['Sentiment_label'] == 'positive') & (reviews_df['trustworthy_score'] >= 55) |
                 (reviews_df['Sentiment_label'] == 'neutral') & (reviews_df['trustworthy_score'] < 55) & (reviews_df['trustworthy_score'] >= 45) |
                 (reviews_df['Sentiment_label'] == 'negative') & (reviews_df['trustworthy_score'] < 45)]
filtered_df

,asin,overall,reviewText,Sentiment_label,trustworthy_score
0,60009810,5,This was the first time I read Garcia-Aguilera...,positive,98.0
1,60009810,5,"As with all of Ms. Garcia-Aguilera's books, I ...",positive,94.0
2,60009810,5,I've not read any of Ms Aguilera's works befor...,positive,63.0
3,60009810,4,This romance novel is right up there with the ...,positive,99.0
4,60009810,5,Carolina Garcia Aguilera has done it again. S...,positive,75.0
...,...,...,...,...,...
999993,B000BTYEHA,4,"Works great! nice piece of glass, not as great...",positive,87.0
999994,B000BTYEHA,4,For the price it is great value,positive,88.0
999995,B000BTYEHA,5,Love my Tiffin filters. Would recommend to any...,positive,90.0
999998,B000BTYEHA,4,I would have given it a 3.5 star if it was pos...,positive,74.0
999999,B000BTYEHA,5,"Great price, works just as described.",positive,81.0

In [10]:

a = filtered_df[filtered_df['Sentiment_label'] == 'positive'].count()
b = filtered_df[filtered_df['Sentiment_label'] == 'neutral'].count()
c = filtered_df[filtered_df['Sentiment_label'] == 'negative'].count()
a + b + c

asin                 778693
overall              778693
reviewText           778693
Sentiment_label      778693
trustworthy_score    778693
dtype: int64

In [11]:
rating = filtered_df.groupby('asin')['overall'].mean()
rating

asin
059449771X    4.444444
073530498X    4.531746
098276751X    4.250000
101635370     3.093023
1059133954    5.000000
                ...
B000BTHPZS    4.250000
B000BTJSBM    4.356322
B000BTM0YO    3.250000
B000BTQPAO    4.269231
B000BTYEHA    4.483333
Name: overall, Length: 12120, dtype: float64

In [12]:
review_count = filtered_df.groupby('asin')['asin'].count()
review_count

asin
059449771X     90
073530498X    126
098276751X     12
101635370      43
1059133954      2
             ...
B000BTHPZS      8
B000BTJSBM     87
B000BTM0YO      4
B000BTQPAO     52
B000BTYEHA     60
Name: asin, Length: 12120, dtype: int64

In [13]:
positive_reviews = filtered_df[filtered_df['Sentiment_label'] == 'positive'].groupby('asin').size().rename('positive_count')
positive_reviews.max()

9426

In [14]:
negative_reviews = filtered_df[filtered_df['Sentiment_label'] == 'negative'].groupby('asin').size().rename('negative_count')
negative_reviews

asin
059449771X    13
073530498X     3
101635370     17
1059844575    53
1059950073     1
              ..
B000BTH36O     1
B000BTHPZS     1
B000BTJSBM     9
B000BTQPAO     4
B000BTYEHA     5
Name: negative_count, Length: 6936, dtype: int64

In [15]:
neutral_reviews = filtered_df[filtered_df['Sentiment_label'] == 'neutral'].groupby('asin').size().rename('neutral_count')
neutral_reviews

asin
1061861740    1
1400699169    1
1444700650    1
1463553943    1
1464120153    3
             ..
B000BSLT38    1
B000BSLW8U    4
B000BSN4UY    1
B000BTAH62    1
B000BTGVUS    1
Name: neutral_count, Length: 750, dtype: int64

In [16]:
trustworthy_score = filtered_df.groupby('asin')['trustworthy_score'].mean()
trustworthy_score

asin
059449771X    75.366667
073530498X    85.682540
098276751X    93.416667
101635370     61.325581
1059133954    70.000000
                ...
B000BTHPZS    80.000000
B000BTJSBM    79.988506
B000BTM0YO    86.500000
B000BTQPAO    86.307692
B000BTYEHA    76.750000
Name: trustworthy_score, Length: 12120, dtype: float64

## Creating new dataframe

In [17]:
new_df = pd.DataFrame()

In [18]:
new_df['rating'] = rating
new_df['review_count'] = review_count
new_df['positive_reviews'] = positive_reviews
new_df['neutral_reviews'] = neutral_reviews
new_df['negative_reviews'] = negative_reviews
new_df['trustworthy_score'] = trustworthy_score
new_df = new_df.reset_index()
new_df

,asin,rating,review_count,positive_reviews,neutral_reviews,negative_reviews,trustworthy_score
0,059449771X,4.444444,90,77.0,NaN,13.0,75.366667
1,073530498X,4.531746,126,123.0,NaN,3.0,85.682540
2,098276751X,4.250000,12,12.0,NaN,NaN,93.416667
3,101635370,3.093023,43,26.0,NaN,17.0,61.325581
4,1059133954,5.000000,2,2.0,NaN,NaN,70.000000
...,...,...,...,...,...,...,...
12115,B000BTHPZS,4.250000,8,7.0,NaN,1.0,80.000000
12116,B000BTJSBM,4.356322,87,78.0,NaN,9.0,79.988506
12117,B000BTM0YO,3.250000,4,4.0,NaN,NaN,86.500000
12118,B000BTQPAO,4.269231,52,48.0,NaN,4.0,86.307692
12119,B000BTYEHA,4.483333,60,55.0,NaN,5.0,76.750000

In [19]:
new_df['positive_reviews'] = new_df['positive_reviews'].fillna(0)
new_df['negative_reviews'] = new_df['negative_reviews'].fillna(0)
new_df['neutral_reviews'] = new_df['neutral_reviews'].fillna(0)
new_df

,asin,rating,review_count,positive_reviews,neutral_reviews,negative_reviews,trustworthy_score
0,059449771X,4.444444,90,77.0,0.0,13.0,75.366667
1,073530498X,4.531746,126,123.0,0.0,3.0,85.682540
2,098276751X,4.250000,12,12.0,0.0,0.0,93.416667
3,101635370,3.093023,43,26.0,0.0,17.0,61.325581
4,1059133954,5.000000,2,2.0,0.0,0.0,70.000000
...,...,...,...,...,...,...,...
12115,B000BTHPZS,4.250000,8,7.0,0.0,1.0,80.000000
12116,B000BTJSBM,4.356322,87,78.0,0.0,9.0,79.988506
12117,B000BTM0YO,3.250000,4,4.0,0.0,0.0,86.500000
12118,B000BTQPAO,4.269231,52,48.0,0.0,4.0,86.307692
12119,B000BTYEHA,4.483333,60,55.0,0.0,5.0,76.750000

# Saving new dataframe to csv file

In [13]:

# filtered_df.loc[reviews_df['asin'] == 'B00000JI4A']

,asin,overall,reviewText,Sentiment_label,trustworthy_score
32418,B00000JI4A,1,"I wasted an hour following directions, trying ...",positive,7.0

In [20]:
new_df.to_csv('dataset_to_score_final_2.csv', index=False)